@import 'variables';
@import 'bp-calculator';

body {
	.btn {
		background-color: $button_blue;
		border-color: $light_blue;

		&:hover {
			background-color: $button_blue_hover;
			border-color: $light_blue;
		}

		&:focus {
			background-color: $button_blue_hover;
			box-shadow: 0 0 0 .25rem $light_blue;
		}
	}
}
